<html>
    <!-- <p>item-detail works!</p> -->
    <img src={{selectedItem.image}} alt="wild thing pic">
    <div class="detail">
        <h1>Wild "{{selectedItem.type}}" Thing: {{selectedItem.name}}</h1>
        <h2>Price: {{selectedItem.price}} Rupees</h2>
        <h4>Description: {{selectedItem.description}}</h4><br><br>
        <div id="back" routerLink="/items"> <-- Back</div>
    </div>
    <button id="edit" [routerLink]='["/edit/"+selectedItem.id]'>Edit Item</button>
    <button id="delete" (click)="onDelete(selectedItem.id)">Delete Item</button>
    
</html> 