html {
    background-image: url("src/assets/botw-background_04.jpg");
    background-size: 1750px;
    font-family: 'zelda2';
}
.about {
    background-color: lightgrey;
    opacity: .8;
    border: 10px double darkslategrey;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10px;
}

p{
    font-size: x-large;
}
 #heading {
    font-family: 'zelda';
    font-size: xx-large;
    
 }