html {
    background-image: url("src/assets/botw-background_03_detail.jpg");
    background-size:  100%;
}

img {
    width: 30%;
    border-radius: 20px;
}

.item {
    background-color: lightgrey;
    opacity: .8;
    /* margin: 0px;
    padding: 3px; */
    border: 2px double darkslategrey;
    border-radius: 15px;
}

h2{
    text-align: center;
    margin: 10px 30px;
}

#topBit {
    display: flex;
    justify-content: center;
}

#add {
    width: 50px;
    height: 30px;
    margin: 0px 50px;
    align-self: center;
}
