html {
    background-image: url("src/assets/botw-background_03_detail.jpg");
    background-size:  150%;
    font-family: 'zelda2';
}

/* img {
    width: 30%;
    border-radius: 20px;
} */

/* .items {
    background-color: lightgrey;
    opacity: .8;
    
    border: 2px double darkslategrey;
    border-radius: 15px;
    align-items: center;
} */

.heading{
    text-align: center;
    margin: 10px 30px;
    font-size: xx-large;
}

#topBit {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

#add, button {
    width: 50px;
    height: 30px;
    margin: 0px 50px;
    align-self: center;
    font-family: 'zelda';
    font-size: large;
}
/* .cont{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    /* max-width: 25%; */
    /* margin-bottom: 8px;
    padding: 0px 0px 0px 10%;
} */ 
/* .item {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}
.view {
    display:flex;
    flex-direction:row;
    font-size: x-large;
    
} */
mat-grid-tile {
    max-height: 300px;
    
}

.item-card {
    width: 90%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgrey;
    opacity: .8;
    
    border: 2px solid darkslategrey;
    border-radius: 10px;
}
#itPic {
    width: 50%;
    height: 200px;
    border-radius: 2px;
}
.col {
    font-family: 'zelda2';
    padding: 10px;
    font-size: x-large
}