<html>
    <div id="topBit">
        <p class="heading" >Get your Wild Things here!</p> 
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   -->
        <p class="heading"  >...it's dangerous to go alone...</p>  
        <button  id="add" routerLink="/add">Add</button>
    </div>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile class="items" *ngFor="let i of itemsList">
            <mat-card-title-group class="cont" >
                <img class="item" mat-card-md-image src={{i.image}} alt="item pic">
                <span class="item">                
                    <p class="view">{{i.name}}</p>
                    <p class="view">{{i.price}} rupees</p>
                    <button class="view" [routerLink]='["/items",i.id]'>View</button>
                </span>
            </mat-card-title-group>           
        </mat-grid-tile>
    </mat-grid-list>

</html>