<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img id="logo" src="assets\Wild-Logo.png" alt="wildCo Logo"></mat-toolbar>
    <mat-nav-list class="navLinks">
      <a mat-list-item routerLink="/home">Home_Link</a>
      <a mat-list-item routerLink="/about">About_Link</a>
      <a mat-list-item routerLink="/items">Items_Link</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>A Taste of The Wild</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <div class="footer" #footer>
      <h3 class="bits"> &copy;2023 A Taste of the Wild, Inc.</h3>
      <h3 class="bits"> Designed & Maint by: Fjordlings LLC</h3>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
