.sidenav-container {
  height: 135%;
}

.sidenav {
  width: 200px;
  background-color: #61b2a7;
  
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #61b2a7;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: teal;
  font-family: 'zelda';
  font-size-adjust: 1.5;
}


.element {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}
.brand {
  padding: 5px 30px 5px 20px;
}
.logo {
  max-width: 55px;
  padding: 10px ;
}
.logo:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.navLinks p {
  padding: 10px 30px;
  font-family: 'zelda';
  font-size-adjust: 1;
  
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  /* background-color: rgb(221, 148, 13); */
  color: rgb(9, 2, 24);
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'zelda2';
  font-size-adjust: 1;
  }

  .bits {
    flex:1;
    text-align: center;
    padding: 10px;
    background-color: #c54e2b;
    color: #d4ce46;
  }

  #extra {
    color: #61b2a7;
  }

  .hover {
    cursor: pointer;
  }

  .hover:hover {
    background-color: #5b9270;
  }