<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><p>Menu</p></mat-toolbar>
    <mat-nav-list class="navLinks">
      <p id="extra">extra</p>
      <p class="hover" mat-list-item routerLink="/home">Home_Link</p>
      <p class="hover" mat-list-item routerLink="/about">About_Link</p>
      <p class="hover" mat-list-item routerLink="/items">Items_Link</p>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="cont">
      <span class="element">
        <img id="logo" src="assets\Wild-Logo.png" alt="wildCo Logo">
        <p id="taste">A Taste of The Wild</p>
      </span>
      
    </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <div class="footer" #footer>
      <h3 class="bits"> &copy;2023 A Taste of the Wild, Inc.</h3>
      <h3 class="bits"> Designed & Maintained by: Fjordlings LLC</h3>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
