/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@font-face {
    font-family: 'zelda';
    src: url('../src/assets/fonts/TheWildBreathOfZelda.otf'),
}

@font-face {
    font-family: 'zelda2';
    src: url('../src/assets/fonts/Triforce.ttf');
}

body { margin: 0; font-family: zelda, zelda2, Roboto, "Helvetica Neue", sans-serif; }
